html, body {
    padding: 0;
    margin: 0;
}

.visor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.visor .visor-image {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
    cursor: -webkit-grab;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transform-origin: 0 0 0;
}

.visor .visor-image.dragging {
    cursor: -webkit-grabbing;
}

.visor .visor-image img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.visor.full-width .visor-image {
    width: 100%;
}

.visor.full-width .visor-image img {
    width: 100%;
}

.visor.full-height .visor-image {
    height: 100%;
}

.visor.full-height .visor-image img {
    height: 100%;
}